<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentactivitytrackingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".habitTrackerNew.HabitTrackAct" />
        <activity android:name=".studyTimer.StudyTimerActivity" />
        <activity android:name=".MainActivity" >
<!--        <activity-->
<!--            android:name=".habitTracker.HabitCalendar"-->
<!--            android:parentActivityName=".habitTracker.HabitTrackerActivity" />-->

        </activity>
        <activity
            android:name=".habitTracker.AddHabitActivity"
            android:parentActivityName=".habitTracker.HabitTrackerActivity" />
        <activity
            android:name=".habitTracker.HabitTrackerActivity"
            android:launchMode="singleTop">

        </activity>
        <activity
            android:name=".ToDoList.AddToDoListActivity"
            android:parentActivityName=".ToDoList.ToDoListActivity" />
        <activity
            android:name=".ToDoList.ToDoListActivity"
            android:launchMode="singleTop" />
        <activity android:name=".Home" />
        <activity
            android:name=".noteTaking.AddNoteActivity"
            android:parentActivityName=".noteTaking.NoteTakingActivity" />
        <activity
            android:name=".noteTaking.NoteTakingActivity"
            android:launchMode="singleTop" />
        <activity android:name=".authentication.RegisterActivity" />
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".authentication.LoginAndRegister" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".timetable.activities.MainActivity">

        </activity>

        <activity android:name=".timetable.activities.ExamsActivity">
        </activity>
        <activity android:name=".timetable.activities.HomeworksActivity">

        </activity>
        <activity android:name=".timetable.activities.NoteInfoActivity"></activity>
        <activity android:name=".timetable.activities.NotesActivity"></activity>
        <activity android:name=".timetable.activities.SettingsActivity"></activity>
        <activity android:name=".timetable.activities.TeachersActivity"></activity>

    </application>

</manifest>